body {
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  overflow-wrap: break-word;
  margin: 0px;
}
@page {
  size: landscape;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.container {
  flex-basis: calc(50% - 0.8in);
  margin: 0.2in;
  min-height: 3.75in;
  max-height: 3.75in;
  padding: 0.2in;
  overflow: hidden;
  position: relative;
  page-break-inside: avoid;
  page-break-after: auto;
}

.border-yellow {
  outline: 0.2em solid #f6c83e;
}

.border-red {
  outline: 0.2em solid #cc293d;
}

.border-blue {
  outline: 0.2em solid #009ccc;
}

h1,
.title {
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0;
  margin-top: 0;
}

.description h2 {
  font-size: 8pt;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0;
  margin-top: 0;
}

.description {
  font-size: 10pt;
  width: 75%;
}

.description hr {
  display: block;
  border: 0;
  border-top: 1px solid silver;
  margin: 1em 0;
  padding: 0;
  height: 1px;
}

.box {
  float: right;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.work_item_id {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  font-size: 14pt;
  padding: 0.2em;
}
.area {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2em;
}

.border-red .area,
.border-red .work_item_id {
  background: #cc293d;
  color: white;
}

.border-red .area,
.border-red .work_item_id {
  background: #cc293d;
  color: white;
}

.invest {
  border-radius: 50%;
  border: 1px solid gray;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0.5em;
  text-align: center;
  vertical-align: middle;
  font: bold;
}
.invest-i {
  bottom: 12.5em;
}
.invest-n {
  bottom: 10.5em;
}
.invest-v {
  bottom: 8.5em;
}
.invest-e {
  bottom: 6.5em;
}
.invest-s {
  bottom: 4.5em;
}
.invest-t {
  bottom: 2.5em;
}

/*
.history {
    padding: 10px 0 0 10px;
}

.container {
    width: calc(50% - 0.25in);
    font-family: sans-serif;
    page-break-inside: avoid;
    margin-left: 15px;
    margin-top: 20px;
}

.title-and-estimate-container {
    margin: 15px 15px 25px 15px;
    display: flex;
    justify-content: space-between;
}

.estimate-container {
    width: 100px;
    height: 100px;
}

.userstory-and-discipline-container {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.user-story {
    margin-right: 30px;
}

.discipline {
    display: flex;
    justify-content: space-between;
}

.title-text {
    font-size: 25px;
    margin-top: 5px;
    width: 440px;
}

.acceptance-criteria-container {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.description {
    margin-top:20px;
}

.po {
    display: flex;
}

.po-vsts-container {
    justify-content: space-between;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.vsts-number {
    display: flex;
    font-size: 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
*/
